<ion-app>
  <ion-menu side="start" menuId="m1">
    <ion-header>
      <ion-toolbar>
        <ion-title>Ionic Places App</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item lines="none" routerLink="/places/tabs/discover">
          <ion-icon name="checkbox-outline" slot="start"></ion-icon>
          <ion-label>Discover Places</ion-label>
        </ion-item>
        <ion-item line="none" routerLink="/booking">
          <ion-icon name="business" slot="start"></ion-icon>
          <ion-label>Your Booking</ion-label>
        </ion-item>
        <ion-item line="none" (click)="onLogout()" button>
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
